<form #newPaper="ngForm" (ngSubmit)="onSubmit()">
    {{newPaper.value|json}}
    <div class="form-group">
        <label >Term</label>
        <input type="number" class="form-control" name="term" ngModel>
    </div>
    <div class="form-group">
        <label >Subject</label>
        <input type="name" class="form-control" name="subject" ngModel>
    </div>
    <div class="form-group">
        <label >Grade</label>
        <input type="number" class="form-control" name="grade" min="1" max="13" ngModel>
    </div>
    <div class="form-group">
        <label >Medium</label>
        <select name="medium" id="medium" class="custom-select" required ngModel>
            <option value="Tamil">Tamil</option>
            <option value="English">English</option>
            <option value="Sinhala">Sinhala</option>
        </select>
    </div>
    <div class="form-group">
        <label >Institute Name</label>
        <input type="text" class="form-control" name="instituteName" ngModel>
    </div>
    <button class="btn btn-success form-control">Submit</button>
</form>